
.baggraundvideo{  
    height: 5rem;
}

.descripcionPeli{
    margin-left: 9rem;
    margin-top: 8rem;
    max-width: 15rem;
}

.botonesBackgraound{
    display: inline-block;
    margin: 0 10px ;
}

main{

        margin-top: 5rem;

}

