
.baggraundvideo{
    
    height: 30rem;


}

.descripcionPeli{
    margin-left: 5rem;
    margin-top: 8rem;
    max-width: 15rem;

}

.botonesBackgraound{

    padding: 0.5rem;
    margin: 1rem;


}