
.navbar{
 display: flex;
 align-items: center;
 
}

.ul{
   

    
   
}

.li{
    list-style: none;
    display: inline-block;
    padding: 0 10px;
}





.li:hover{
    opacity: 0.8;
}
.color{
    color: #e5e5e5;
  
   
    font-size: 0.8rem;
}

.netflix{
    
    margin:10px -20px 0px 41px;
    width: 92.5px;
    height: 41px;
    color: #e50914;
}

.secondary{
    display: flex;
    position: absolute;
    right: 4%;
    top: 20px;
}

.secondnavbar{

    padding: 0 10px;


}
