
.navbar{
 display: flex;
 align-items:center;
 position: relative;
 ;
 
}

.ul{
   

    
   
}

.li{
    align-items: center;
    list-style: none;
    display: inline-block;
    padding: 0 10px;
    margin-top: 1.5rem;
}





.li:hover{
    opacity: 0.8;
}
.color{
    color: #e5e5e5;
  
   
    font-size: 0.8rem;
}

.netflix{
    
    width: 92.5px;
    height: 41px;
    color: #e50914;
}

.secondary{
    display: flex;
    align-items: center;
    position: absolute;
    right: 4%;
    
}

.secondnavbar{

    padding: 0 10px;


}

.ul .secondary{
   align-items: center;

}